<p>
  <mat-toolbar style="background-color:darkblue; color:white">
      <div class="TitlePage">
          <span>Running Offer</span>
      </div>
      <span class="spacer"></span>
      <div >
          <button mat-button class="toolbar-btn" aria-label="Cinema landing page button">
            <div><h5 (click)="home()" onmouseover="" style="cursor: pointer;">Home</h5></div>
          </button>&nbsp;
          <button mat-button class="toolbar-btn" aria-label="Movie listing page button">
            <div><h5 (click)="offerTable()" onmouseover="" style="cursor: pointer;">Offers</h5></div>
          </button>
      </div>
  </mat-toolbar>
</p>
<br>